//Fonts
    $f-PressStart: 'Press Start 2P', cursive;
    $f-JustMeAgain: 'Just Me Again Down Here', cursive;
    $f-Bungee: 'Bungee', cursive;

//Colors
    $c-Coriander: #CBD4BA;
    $c-WildWillow: #A8C36F;
    $c-Crete: #546B29;
    $c-RipeLemons: #F5D729;
    