//Fonts
$f-PressStart: "Press Start 2P", cursive;
$f-JustMeAgain: "Just Me Again Down Here", cursive;
$f-Bungee: "Bungee", cursive;

//Colors
$c-Malachite: #01e943;
$c-Apple: #37c344;
$c-Coriander: #cbd4ba;
$c-WildWillow: #a8c36f;
$c-Crete: #546b29;
$c-Sandrift: #b29a8a;
$c-RipeLemons: #f5d729;
$c-Cerulean: #0facdb;
$c-Valencia: #de4c4a;
$c-Black: #000;
